@inherits Umbraco.Web.Mvc.UmbracoViewPage<RSH.Models.RentViewModel>
@using System.Globalization;
@{
    Layout = "Master.cshtml";
    var modalTitle = TempData["ModalTitle"] as string;
    var modalBody = TempData["ModalBody"] as string;
}

@section style {
    <link href="~/Content/flatpickr/datepicker.css" rel="stylesheet" />
}

@Html.GetGridHtml(Model.Content, "grid", "Bootstrap4")

<section class="container my-3 py-3">

    @RenderMonth(DateTime.Now.Year, DateTime.Now.Month, Model.CurrentBookings)
    @RenderMonth(DateTime.Now.AddMonths(1).Year, DateTime.Now.AddMonths(1).Month, Model.CurrentBookings)
    @RenderMonth(DateTime.Now.AddMonths(2).Year, DateTime.Now.AddMonths(2).Month, Model.CurrentBookings)
    @RenderMonth(DateTime.Now.AddMonths(3).Year, DateTime.Now.AddMonths(3).Month, Model.CurrentBookings)

</section>

<section class="container my-3 py-3" id="bookingForm">

    @using (Html.BeginUmbracoForm("Submit", "BookingSurface"))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="nodeId" value="@Model.Content.Id" />
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputName">Navn</label>
                <input type="text" class="form-control" id="inputName" placeholder="Navn" name="Name">
            </div>
            <div class="form-group col-md-6">
                <label for="inputTelephone">Telefon</label>
                <input type="text" class="form-control" id="inputTelephone" placeholder="Telefon" name="Telephone">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Ønsket område</label>
            <select class="form-control" id="exampleFormControlSelect1" name="Area">
                <option selected disabled>Velg en</option>
                <option>Lille sal</option>
                <option>Store sal</option>
                <option>Begge</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Kommentar/ønsker" name="Comment"></textarea>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input type="hidden" name="Wash" value="False">
                <input class="form-check-input" type="checkbox" id="gridCheck" name="Wash" value="True">
                <label class="form-check-label" for="gridCheck">
                    Ønsker vasking
                </label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="fraDato">Dato</label>
                <input type="date" class="form-control flatpicker" id="fraDato" placeholder="Fra dato" name="From">
            </div>
            <div class="form-group col-md-6">
                <label for="tilDato">Til</label>
                <input type="date" class="form-control flatpicker" id="tilDato" placeholder="Til dato" name="To">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    }
</section>

<div class="modal" tabindex="-1" role="dialog" id="bookingmodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@modalTitle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>@modalBody</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
            </div>
        </div>
    </div>
</div>

@section script {
    <script src="~/Content/flatpickr/datepicker.js"></script>
    <script type="text/javascript">
        function autorun() {
            flatpickr(".flatpicker", {
                dateFormat: 'Z',
                altInput: true,
                altFormat: 'd-m-Y',
                minDate: "today",
            });

            @if(!string.IsNullOrWhiteSpace(modalTitle) && !string.IsNullOrWhiteSpace(modalBody))
            {
                <text>$('#bookingmodal').modal('show');</text>
            }
        }
        if (document.addEventListener) document.addEventListener("DOMContentLoaded", autorun, false);
        else if (document.attachEvent) document.attachEvent("onreadystatechange", autorun);
        else window.onload = autorun;
    </script>
}

@helper RenderMonth(int year, int month, IEnumerable<DateTime> booked)
{
    <div class="row">
        @{
            var date = new DateTime(year, month, 1);
        }
        <h2 class="col-12 text-capitalize text-center">@(date.ToString("MMMM", CultureInfo.CreateSpecificCulture("no")))</h2>
        <hr class="col-12" />
        <div class="col-12">
            <div class="row">
                <p class="col text-center">M<span class="d-none d-md-inline">andag</span></p>
                <p class="col text-center">T<span class="d-none d-md-inline">irsdag</span></p>
                <p class="col text-center">O<span class="d-none d-md-inline">nsdag</span></p>
                <p class="col text-center">T<span class="d-none d-md-inline">orsdag</span></p>
                <p class="col text-center">F<span class="d-none d-md-inline">redag</span></p>
                <p class="col text-center">L<span class="d-none d-md-inline">ørdag</span></p>
                <p class="col text-center">S<span class="d-none d-md-inline">øndag</span></p>
            </div>
            <div class="row">
                @for (var i = 6; i > 6 - WeekDayNumber(date.DayOfWeek); i--)
                {
                    <p class="col p-1 m-1 text-center"></p>
                }

                @for (var i = 1; i <= DateTime.DaysInMonth(year, month); i++)
                {
                    if (date.DayOfWeek == DayOfWeek.Monday)
                    {
                        <span class="col-12"></span>
                    }
                    if (booked.Contains(date))
                    {
                        <p class="col p-1 m-1 text-center busy">@i</p>
                    }
                    else
                    {
                        <p class="col p-1 m-1 text-center">@i</p>
                    }
                    date = date.AddDays(1);
                }

                @for (var i = 0; i < 7 - (int)date.AddDays(-1).DayOfWeek; i++)
                {
                    <p class="col p-1 m-1 text-center"></p>
                }
            </div>
        </div>
    </div>
}

@functions{
    private static int WeekDayNumber(DayOfWeek dayOfWeek)
    {
        switch (dayOfWeek)
        {
            case DayOfWeek.Monday:
                return 0;
            case DayOfWeek.Tuesday:
                return 1;
            case DayOfWeek.Wednesday:
                return 2;
            case DayOfWeek.Thursday:
                return 3;
            case DayOfWeek.Friday:
                return 4;
            case DayOfWeek.Saturday:
                return 5;
            case DayOfWeek.Sunday:
                return 6;
            default:
                return 0;
        }
    }
}